/* User */
.user__details td{
    font-size: 1.1rem;
    text-align: center;
}
.user_table_heading th{
    text-align: center;
}
/* All tours */
.adm__cardBody{
    font-size: 1.1rem;
}
.adm__cardBody .btn{
    padding: 5px 30px;
}

/* Edit tour */
.edit__form .form-group .form-control{
    font-size: 1.2rem;
    padding: 8px 10px;
    border: none;
    border-radius: 8px;
}
.edit__form .form-group .form-control:focus{
    box-shadow: none;
}

/* Add tour */
.add__form .form-group .form-control{
    font-size: 1.2rem;
    padding: 8px 10px;
    border: none;
    border-radius: 8px;
}
.add__form .form-group .form-control:focus{
    box-shadow: none;
}